.card-header{
    background: white;
}
.capatalize-text input{
    text-transform: capitalize;
}

.large-cta-section {
  background: #1e9fc4 linear-gradient(45deg, #3e3ed0, #1e9fc4 57%, #4fddd5) repeat scroll 0 0;
  box-shadow: 0 6px 12px -4px rgba(54, 56, 66, 0.25) inset;
  text-align: center;
  z-index: 1;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.medium-large-wrapper{
  padding-top: 50px;
}
.h2.large {
  display: inline-block;
  font-size: 5em;
  font-family: "Roboto",sans-serif;
}
.white {
  color: #fff;
}
.h2 > .yellow {
  color: #f5ee33;
  font-weight: 600;
}
.h3 {
  font-family: "Roboto",sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.8rem;
  margin-top: 10px;
  margin-bottom: 40px;
}


@media (max-width:767px){
  .large-cta-section {
    height: 250px;
  }
  .medium-large-wrapper{
    padding-top: 30px;
  }
  .h2.large {
    font-size: 3em;
  }
}
