<div id="content">
    <div class="header">
        <div class="header-logo">
            <a href="javascript:void(0)" style="color: white;font-size: x-large;">
                <img src="../assets/logo.png" alt="" height="60" width="70">
                    <!-- Light Logo icon -->
            
             
                <!--End Logo icon -->
                <span   class="hidden-xs" style="">Med<span class="font-bold" style="">Fest</span></span>
            </a>
            <!-- <img height="90" src="img/logo.png"> -->
        </div>
    </div>
    <div class="table">
        <div routerLink="/login" class="table-cell space3">
            <a href="javascript:void(0)">
                <div class="button-cell color1 floatRight">
                    <div class="button-header">
                        <div class="button-header-parent">
                            <div class="button-header-child">
                                <img src="../../assets/images/Patient.png">
                            </div>    
                        </div>
                    </div>
                    <div class="button-text">
                        Patients
                    </div>
                </div>
            </a>
        </div>
        <div routerLink="/login" class="table-cell space3">
            <a href="javascript:void(0)">
                <div class="button-cell color2">
                    <div class="button-header">
                        <div class="button-header-parent">
                            <div class="button-header-child">
                                <img src="../../assets/images/Doctor.png">
                            </div>    
                        </div>
                    </div>
                    <div class="button-text">
                        Doctors
                    </div>
                </div>
            </a>
        </div>
        <div routerLink="/login" class="table-cell space3">
            <a href="javascript:void(0)">
                <div class="button-cell color3 floatLeft">
                    <div class="button-header">
                        <div class="button-header-parent">
                            <div class="button-header-child">
                                <img src="../../assets/images/Hospital.png">
                            </div>    
                        </div>
                    </div>
                    <div class="button-text">
                        Hospital
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
