<!-- Row -->
<div class="row" *ngIf="!isLoader">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="user-bg"> <img width="100%" alt="user" [src]="pharmacy?.user.image| imageSrc"> </div>
            <div class="card-body">
                <!-- .row -->
                <div class="row text-center m-t-10">
                    <div class="col-md-12">
                        <strong>Name</strong>
                        <p>{{pharmacy?.user.name}}</p>
                    </div>
                </div>
                    <hr>
                    <!-- /.row -->
                    <!-- .row -->
                    <div class="row text-center m-t-10">
                        <div class="col-md-6 b-r"><strong>Email ID</strong>
                            <p>{{pharmacy?.user.email}}</p>
                        </div>
                        <div class="col-md-6"><strong>Phone</strong>
                            <p>{{pharmacy?.user.phone}}</p>
                        </div>
                    </div>
                    <!-- /.row -->
                    <hr>
                    <!-- .row -->
                    <div class="row text-center m-t-10">
                        <div class="col-md-12"><strong>Address</strong>
                            <p *ngIf="pharmacy?.user">
                                {{pharmacy?.user | address}}
                            </p>
                        </div>
                    </div>
                    <hr>
                    <br />

                    <button *ngxPermissionsOnly="['hospital']" type="button" class="btn  btn-block "
                        [ngClass]="pharmacy.user.active ? 'btn-outline-primary' : 'btn-outline-success'"
                        (click)="markAsActive()" style="text-align: center;">
                        Mark as {{pharmacy.user.active ? 'Inactive' : 'Active'}}
                    </button>
                </div>
            </div>
        </div>
    <!-- Row -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">

            <!-- Nav tabs -->
            <div class="d-flex" style="padding-top: 10px; padding-right: 10px ;">
                <ul class="nav nav-tabs profile-tab d-flex" role="tablist">
                    <li class="nav-item"> <a class="nav-link" [ngClass]="{active: tab === 1}" data-toggle="tab"
                            href="javascript::void(0)" (click)="onclickTab(1)" role="tab">About</a> </li>
                    <li *ngxPermissionsOnly="['pharmacy']" class="nav-item"> <a class="nav-link"
                            [ngClass]="{active: tab === 2}" data-toggle="tab" href="javascript::void(0)"
                            (click)="goToEdit()" role="tab">Update Details</a> </li>
                    <li *ngIf="authService.currentUserValue._id !== pharmacy.user._id" class="nav-item">
                        <a class="nav-link" href="javascript::void(0)" (click)="chat()"> <i
                                class="fa fa-comment-alt"></i> Message</a>
                    </li>
                </ul>


            </div>
            <!-- Tab panes -->
            <div class="tab-content">

                <!--second tab-->
                <div class="tab-pane " [ngClass]="{active: tab === 1}" id="profile" role="tabpanel">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-xs-6 b-r"> <strong>File No.</strong>
                                <br>
                                <p class="text-muted">{{pharmacy?.user.username}}</p>
                            </div>


                            <div class="col-md-3 col-xs-6"> <strong>Location</strong>
                                <br>
                                <p class="text-muted">{{pharmacy?.user.city}}</p>
                            </div>
                        </div>
                        <hr><br>
                        <h3>Biography</h3><br>
                        <p>{{pharmacy?.description}}</p>
                        <h4 class="font-medium m-t-30">Status: &nbsp; <span class="label "
                                [ngClass]="pharmacy?.user.active ? 'label-success' : 'label-primary'"
                                style="padding: 10px;">{{pharmacy?.user.active ? 'active' : 'inactive'}}</span></h4>

                    </div>
                </div>
                <div class="tab-pane" [ngClass]="{active: tab === 2}" id="settings" role="tabpanel">
                    <div class="card-body">
                        <form class="form-horizontal form-material">
                            <div class="form-group">
                                <label class="col-md-12">Full Name</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="Johnathan Doe"
                                        class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="example-email" class="col-md-12">Email</label>
                                <div class="col-md-12">
                                    <input type="email" placeholder="johnathan@admin.com"
                                        class="form-control form-control-line" name="example-email" id="example-email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Password</label>
                                <div class="col-md-12">
                                    <input type="password" value="password" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Phone No</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="123 456 7890"
                                        class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Message</label>
                                <div class="col-md-12">
                                    <textarea rows="5" class="form-control form-control-line"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12">Select Country</label>
                                <div class="col-sm-12">
                                    <select class="form-control form-control-line">
                                        <option>London</option>
                                        <option>India</option>
                                        <option>Usa</option>
                                        <option>Canada</option>
                                        <option>Thailand</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="btn btn-success">Update Profile</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<loader *ngIf="isLoader"></loader>
