<!-- Row -->
<div class="row" *ngIf="!isLoader">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="user-bg"> <img width="100%" alt="user" [src]="ImageSrc"> </div>
            <div class="card-body">
                <!-- .row -->
                <div class="row text-center m-t-10">
                    <div class="col-md-6 col-6 b-r">
                        <strong>Name</strong>
                        <p>{{doctor?.user.name}}</p>
                    </div>
                    <div class="col-md-6 col-6"><strong>Occupation</strong>
                        <p>{{doctor?.cadre}}</p>
                    </div>
                </div>
                <hr>
                <!-- /.row -->
                <!-- .row -->
                <div class="row text-center m-t-10">
                    <div class="col-md-6 col-6 b-r"><strong>Email ID</strong>
                        <p>{{doctor?.user.email}}</p>
                    </div>
                    <div class="col-md-6 col-6"><strong>Phone</strong>
                        <p>{{doctor?.user.phone}}</p>
                    </div>
                </div>
                <!-- /.row -->
                <hr>
                <!-- .row -->
                <div class="row text-center m-t-10">
                    <div class="col-md-12"><strong>Address</strong>
                        <p *ngIf="doctor?.user">
                            {{doctor?.user | address}}
                        </p>
                    </div>
                </div>
                <hr>
                <button *ngxPermissionsOnly="['hospital']" type="button" class="btn  btn-block "
                    [ngClass]="doctor?.user?.active ? 'btn-outline-primary' : 'btn-outline-success'"
                    (click)="markAsActive()" style="text-align: center;"> Mark as
                    {{doctor.user?.active ? 'Inactive' : 'Active'}}
                </button>

            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">

            <!-- Nav tabs -->
            <div style="padding-top: 10px; padding-right: 10px ;">
                <ul class="nav nav-tabs profile-tab align-items-center" role="tablist">
                    <li class="nav-item"> <a class="nav-link" [ngClass]="{active: tab === 1}" data-toggle="tab"
                            href="javascript::void(0)" (click)="onclickTab(1)" role="tab">About</a> </li>
                    <li *ngxPermissionsOnly="['doctor']" class="nav-item"> <a class="nav-link"
                            [ngClass]="{active: tab === 2}" data-toggle="tab" href="javascript::void(0)"
                            (click)="goToEdit()" role="tab">Update Details</a> </li>
                    <li *ngIf="authService.currentUserValue._id !== this.doctor?.user._id" class="nav-item">
                        <a class="nav-link" href="javascript::void(0)" (click)="chat()"> <i
                                class="fa fa-comment-alt"></i> Message</a>
                    </li>
                    <li class="ml-auto">
                      <button [routerLink]="['/app/calender/book']" class="btn btn-info d-lg-block m-10" type="button"><i
                              class="fa fa-calendar" aria-hidden="true"></i> Schedule Appointment</button>

                  </li>
                </ul>
            </div>
            <!-- Tab panes -->
            <div class="tab-content">

                <!--second tab-->
                <div class="tab-pane " [ngClass]="{active: tab === 1}" id="profile" role="tabpanel">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-6 mb-10 b-r"> <strong>File No.</strong>

                                <p class="text-muted">{{doctor?.user.username}}</p>
                            </div>
                            <div class="col-md-3 col-6 mb-10 b-r h-b"> <strong>Cadre</strong>

                                <p class="text-muted">{{doctor?.cadre}}</p>
                            </div>
                            <div class="col-md-3 col-6 b-r"> <strong>Department</strong>

                                <p class="text-muted">{{doctor?.department}}</p>
                            </div>

                            <div class="col-md-3 col-6"> <strong>Location</strong>

                                <p class="text-muted">{{doctor?.user.city}}</p>
                            </div>
                        </div>
                        <hr>
                        <h3>Biography</h3>
                        <p>{{doctor?.description}}</p>
                        <h4 class="font-medium m-t-30">Status: &nbsp; <span class="label "
                                [ngClass]="doctor?.user.active ? 'label-success' : 'label-primary'"
                                style="padding: 10px;">{{doctor?.user.active ? 'active' : 'inactive'}}</span></h4>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<loader *ngIf="isLoader"></loader>
<!-- Row -->
