.form-material .form-control, .form-material .form-control.focus, .form-material .form-control:focus {
  background-image: none;
}
.card{
  border-radius: 8px !important;
}
@media (max-width: 768px){
  .form-group {
    margin-bottom: 12px;
  }
  h3{
    font-size: 20px;
  }
  label{
    font-size: 13px;
  }
  input{
    font-size: 13px;
  }
}
