<div *ngIf="!isLoader">
<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="round align-self-center round-success"><i class="fa fa-flask"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0">{{labReportCount}}</h3>
                        <h5 class="text-muted m-b-0">Reports</h5>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="round align-self-center round-info"><i class="fa fa-calendar"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0">{{appointmentCount}}</h3>
                        <h5 class="text-muted m-b-0">Appointments</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="round align-self-center round-danger"><i class="fa fa-calendar"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0">{{visitCount}}</h3>
                        <h5 class="text-muted m-b-0">Visits</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->

</div>
<!-- Row -->

<!-- /row -->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title m-b-0">Scheduled Appointments List</h5>
                <p class="text-muted">Recent Appointments added in this month</p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Doctor</th>
                                <th>date</th>
                                <th>Status</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let h of appointments;let i=  index" (click)="gotoAppointment()">
                                <td>{{i +1}}</td>
                                <td>{{h.doctor.user.name}}</td>
                                <td>{{h.startDate | date : 'short' }}</td>
                                <td>{{h.status}}</td>

                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<loader *ngIf="isLoader"></loader>